.greetingsContainer {
  background-color: var(--brand-purple-shade);
  width: 160px;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
}

.greetingsContainer p {
  color: var(--brand-purple);
  font-size: 1.2rem;
  font-weight: bold;
}

.heroNameContainer {
  max-width: 200px;
  margin-bottom: 15px;
}

.heroNameContainer h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.heroSocial {
  display: flex;
  gap: 10px;
}

.heroMyMe img {
  width: 500px;
  height: 500px;
}

.hasIcon {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.heroContactButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.heroContactButtons a {
  color: var(--brand-purple-dark-1);
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

button.isFilled {
  background-color: var(--brand-purple-dark-3) !important;
  border-color: transparent !important;
  color: var(--brand-purple-dark-1) !important;
}

button.isOutlined {
  border-color: var(--brand-purple-dark-1);
  background-color: transparent !important;
  color: var(--brand-purple-dark-1) !important;
}

.sectionContent {
  padding: 3rem;
}

.sectionExperience {
  /* border-top-width: 1px; */
  border-style: solid;
  border-color: var(--brand-purple-dark-2);
  /* border-bottom-width: 1px; */
  border-width: 1px 0;
}

.experienceInner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.experienceInner .experienceCards {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
  max-width: 80%;
  /* max-width: 900px; */
}

.experienceInner .experienceCards .experienceItem {
  border: 1px solid var(--brand-purple-dark-1);
  padding: 20px;
  border-radius: 15px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  max-width: 100%;
  height: 200px;
}

.experienceInner .experienceCards .experienceItem:nth-child(2) {
  background-color: var(--brand-purple-dark-3);
}

.experienceInner .experienceCards .experienceItem .experienceContent {
  text-align: center;
  color: #fff;
}

.experienceInner .experienceCards .experienceItem .experienceContent p:last-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.experienceInner .experienceDescription {
  display: flex;
  gap: 20px;
  background-color: var(--brand-purple-dark-3);
  padding: 20px 40px;
  border-radius: 15px;
  justify-content: space-between;
  width: 100%;
  max-width: 80%;
}

.experienceInner .experienceDescription .descriptionItem {
  text-align: center;
  color: var(--brand-purple);
}

.experienceInner .experienceDescription .descriptionItem p:last-child {
  font-weight: bold;
  font-size: 1.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #fff;
}

.sectionAbout .aboutLargeText {
  font-size: 2.5rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 15px;
}

.heroMobile {
  display: none;
}

.worksAndProjectsBtnGroup {
  display: flex;
  justify-content: end;
  /* align-self: end; */
}

.hideCard {
  display: none !important;
}

.projectCardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.projectCard {
  border: 1px solid var(--brand-purple-dark-1);
  padding: 2rem;
  width: 100%;
  /* Limit to 4 child elements per row that is (100% / 4) - the gap */
  max-width: calc(33.3% - 20px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.projectCard .projectCardHead {
  text-align: left;
}

.projectCard .projectCardHead h4 {
  color: #fff !important;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.projectCard .projectCardHead p {
  width: 250px;
}

.projectCard .projectCardBody .imageContainer {
  margin-top: 20px;
  border-radius: 10px;
}

.projectCard .projectCardBody .imageContainer img {
  border-radius: 10px;
  color: transparent;
  object-fit: cover;
  height: 200px;
}

.badgeContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.dateBadge {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  max-width: 150px;
  text-align: center;
  font-size: 1rem;
  border-radius: 20px;
  background-color: var(--brand-purple-dark-3);
  color: var(--brand-purple);
}

.badge {
  padding: 5px 15px;
  max-width: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px;
}

.badge.badgeBrandGreen {
  background-color: var(--brand-green-dark-1);
  color: var(--brand-green);
}

.badge.badgeBrandPurple {
  background-color: var(--brand-purple-dark-3);
  color: var(--brand-purple);
}

.badge.badgeBrandRose {
  background-color: var(--brand-rose-dark-1);
  border-radius: 10px;
  color: var(--brand-rose);
}

.seeMore {
  padding: 2rem 0;
  text-align: right;
}

.seeMore a {
  color: var(--brand-purple-dark-1);
  font-weight: 600;
}

.projectCardsContainerMobile {
  display: none !important;
}

/* Mobile*/
@media screen and (max-width: 767px) {
  .heroBody {
    padding: 1rem !important;
  }

  .sectionContent {
    padding: 2.5rem 1rem !important;
  }

  .heroDesktop {
    display: none !important;
  }

  .heroMobile {
    display: flex !important;
    flex-direction: column;
  }

  .heroMobile .heroSocial {
    justify-content: center;
  }

  .heroContactButtons {
    align-items: center !important;
  }

  .heroContactButtons a {
    margin-bottom: 0 !important;
  }

  .heroContactButtons {
    flex-direction: row;
    align-items: flex-start;
  }

  .heroContactButtons a {
    color: var(--brand-purple-dark-1);
    justify-content: flex-start;
  }

  .experienceInner .experienceCards {
    flex-direction: column;
    align-items: center;
  }

  .sectionExperience .experienceDescription {
    display: none !important;
  }

  .sectionAbout .aboutLargeText {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }

  .sectionExperience {
    border: unset !important;
  }

  .sectionAbout img {
    width: 180px;
    height: 180px;
  }

  .title {
    font-size: 1.25rem;
  }

  .worksAndProjectsBtnGroup {
    justify-content: start;
  }

  .projectCardsContainer {
    display: none !important;
  }

  .projectCardsContainerMobile {
    display: block !important;
  }

  .projectCardsContainerMobile .projectCard {
    max-width: 100% !important;
  }
}

/* Styles for Desktop Screens */
@media screen and (min-width: 768px) {

}

/* Your tablet-specific styles here */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .projectCard {
    max-width: calc(50% - 20px) !important;
  }
}

/* Styles for screens wider than 1920 pixels (very large screens) */
@media screen and (min-width: 1921px) {}